/* HEADER */

#inner header {
	background:url(/img/header/bg-header.png) left top repeat-x;
	height:73px;
	overflow:hidden;
	position:relative;
	z-index:1;
    -moz-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
}

header section {
	float:left;
	text-align:right;
	width:595px;
}

header div {
	display:inline-block;
	margin:0 -3px 0 0;
	overflow:hidden;
	padding:0;
	width:80px;
}

header a {
	border-left:1px solid #fff;
	color:#EEF1F4;
	display:table-cell;
	font:600 10px/1.3 'Lato', Verdana, Arial, sans-serif;
	height:68px;
	margin:0;
	padding:0 10px 5px 10px;
	vertical-align:bottom;
	text-align:center;
	text-transform:uppercase;
	width:60px;
}

.lt-ie9 header a {
	font-size:9px;
}

header h1 {
	background:url(/img/header/logo.png) left top no-repeat;
	display:block;
	float:left;
	height:72px;
	margin:1px 18px 0 7px;
	overflow:hidden;
	padding:0;
	text-indent:100%;
	white-space:nowrap;
	width:380px;
}

header h1 a {
	border:none;
	margin:0;
	overflow:hidden;
	padding:0;
	text-indent:100%;
	width:100%;
	width: 380px;
	white-space: nowrap;
	height: 72px;
}

header .traces a {
	background:url(/img/header/bg-traces-off.png) 50% 5px no-repeat;
}

header .traces.active a {
	background:url(/img/header/bg-traces-on.png) 20px 13px no-repeat;
	color:#58BDDB;
}

header .winners a {
	background:url(/img/header/bg-vainqueurs-off.png) 50% 13px no-repeat;
}

header .active {
	width:354px;
}

header .active a {
	font-size:24px;
	line-height:2.4;
	text-indent:74px;
	white-space:nowrap;
	width:auto;
}

header .winners.active a {
	background:url(/img/header/bg-vainqueurs-on.png) 20px 13px no-repeat;
	color:#FFD800;
}

header .streetview a {
	background:url(/img/header/bg-lieux-off.png) 50% 5px no-repeat;
}

header .streetview.active a {
	background:url(/img/header/bg-lieux-on.png) 20px 13px no-repeat;
	color:#92C407;
}

header .fight a {
	background:url(/img/header/bg-duels-off.png) 50% 5px no-repeat;
}

header .fight.active a {
	background:url(/img/header/bg-duels-on.png) 20px 13px no-repeat;
	color:#FF972B;
}

/* HEADER RADIO FRANCE */
/** STYLE HEADER FOOTER debut **/
.header-footer{font-family:'FreeSans','Arial';font-size:11pt;}
.clearer{clear:both;height:0;width:0;}
/** style header **/
#header-commun{ background:#fff; margin:0px 0 0px 0;padding:7px 0 0 0px;border-bottom:1px solid #DDDDDD;}
body.blogs #header-commun{margin:7px 0 12px 0;}
#header-content{ width:891px;margin:0 auto;}
#header-commun ul{margin:0 auto 7px auto;padding:0;float:left;}
#header-commun li{display: inline; list-style-type: circle;background: transparent url('/img/radiofrance/circle.png') no-repeat scroll -4px 2px;padding: 0 0px 0 14px;}
#header-commun li.first-header{list-style-type:none;background:transparent none repeat scroll 0 0;}
#header-commun li.last-header{padding-right:0;}
#header-commun li a{text-decoration:none;color:#000000;font-weight:normal;}
#header-commun li a:hover{text-decoration:underline;}
#header-commun li a:visited{}
.header-footer{font-size:10pt;}