/* HOME */

.home-inner {
	background:url(/img/home/bg-home-page.png) left top no-repeat;
	display:block;
	height:514px;
	margin:0;
	padding:0;
	position:relative;
	width:1000px;
}

.home-block {
	display:block;
	margin:0;
	padding:0;
	position:absolute;
	z-index:2;
}

.home-block a {
	display:block;
	font-size:0;
	height:100%;
	line-height:0;
	margin:0;
	overflow:hidden;
	padding:0;
	text-indent:100%;
	width:100%;
	white-space:nowrap;
}

.home-inner .traces {
	height:214px;
	left:18px;
	top:38px;
	width:283px;
}

.home-inner .streetview {
	height:170px;
	left:679px;
	top:38px;
	width:319px;
}

.home-inner .winners {
	height:211px;
	left:202px;
	top:285px;
	width:251px;
}

.home-inner .fight {
	height: 150px;
	left: 513px;
	top: 325px;
	width: 305px;
}

.home-search {
	left:381px;
	top:211px;
	width:252px;
}

#search {
	border:none;
	background:#fff;
	color:#C1C1C1;
	display:block;
	float:left;
	font:400 14px/2 'Lato', Verdana, Arial, sans-serif;
	height:28px;
	margin:0;
	padding:0;
	width:200px;
}

.submit {
	border:none;
	background:none;
	cursor:pointer;
	display:block;
	height:28px;
	margin:0;
	padding:0;
	text-indent:100%;
	width:24px;
}

/* AUTOCOMPLETE */

.ui-autocomplete {
	background:#fff;
	border:8px solid #fff;
	border-radius:8px;
	outline:0;
	list-style-type:none;
	height:200px;
	overflow:auto;
	margin:0;
	padding:0;
	width:224px;
}

.ui-menu-item {
	border-bottom:1px solid #93AAC5;
	clear:both;
	cursor:pointer;
	display:block;
	color:#93AAC5;
	font:400 14px/1.3 'Lato', Verdana, Arial, sans-serif;
	margin:0 8px 0 0;
	padding:3px 0;
}
	
