
/* SELECTBOX */

.sbHolder {
	background:#996D00;
	border-radius:8px;
	color:#c3a66f;
	font:normal 14px/29px 'Lato', Arial, sans-serif;
	float:left;
	height:29px;
	margin:3px 0 0 0;
	text-align:left;
	position:relative;
	width:205px;
	z-index:2;
}

.sbSelector {
	display: block;
	height: 29px;
	left: 0;
	line-height: 29px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width:205px;
}

.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
	color: #c3a66f;
	outline: none;
	text-decoration: none;
}

.sbToggle {
	background: url(/img/vainqueurs/bg-select-arrow-off.png) left top no-repeat;
	display: block;
	height:29px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}

.sbToggleOpen {
	background: url(/img/vainqueurs/bg-select-arrow-on.png) left top no-repeat;
}

.sbOptions {
	background-color:#fff;
	list-style: none;
	left: -1px;
	margin:0;
	padding: 0;
	position: absolute;
	top: 29px;
	width: 100%;
	height:240px;
	overflow:auto;
	z-index: 1;
}

.oldie .sbOptions {
	margin:29px 0 0 0;
}

.sbOptions li {
	padding: 0 7px;
}

.sbOptions a {
	display: block;
	outline: none;
	line-height:1.3;
	padding: 7px 0 7px 3px;
}

.sbOptions a:link, .sbOptions a:visited{
	color: #c2a56f;
	text-decoration: none;
}

.sbOptions a:link, .sbOptions a:visited {
	color:#c2a56f;
}


.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #0c2a56f00;
}