/* TRACES */

.content .map-container {
	background:url(/img/traces/bg-map.png) left top no-repeat;
	float: left;
	display:block;
	position:relative;
	width: 512px;
	height:422px;
}

.traces .timeline ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.traces .timeline li {
	background:#fff;
	display: inline-block;
	overflow: hidden;
	margin: 0 1px 0 0;
	padding: 0;
	width: 7px;
	height: 7px;
	text-indent: 100%;
}

.traces .timeline li.trace {
	background-color: #222;
}

.traces .timeline li.etape {
	background-color: #FFD800;
}

.traces .timeline-zoom {
	overflow: hidden;
	margin:10px auto 0 auto;
	padding: 0;
	width: 720px;
	height: 40px;
	position:relative;
}
.traces .timeline-zoom ul {
	margin: 0;
	padding: 0;
	width: 7200px;
	height: 40px;
	list-style: none;
}

.traces .timeline .slider {
	position: absolute;
	width: 720px;
	height: 18px;
	margin: 0 0 0 41px;
}

.traces .ui-slider-handle {
	background:url(/img/traces/bg-drag.png) left top no-repeat;
	position: absolute;
	outline:none;
	width: 89px;
	height: 28px;
	margin-left: -45px;
}

.traces-left {
	background:url(/img/traces/bg-traces-block.png) left top no-repeat #F2F2ED;
	float:left;
	margin:0;
	padding:0 10px;
	width:229px;
}

#traces-years {
	display:block;
	font:700 40px/1.3 'Lato', Verdana, Arial, sans-serif;
	height:105px;
	padding:0;
	text-align:center;
	text-shadow: 1px 1px 1px #fff;
	width:100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#traces-years.single:before, #traces-years.single:after {
	display:block;
	overflow:hidden;
	margin:0 auto;
	padding: 0;
	width:12px;
	height:6px;
	background:url(/img/icon/icon-name.png) left top no-repeat;
	content: " ";
	text-indent: 100%;
	white-space:nowrap;
}

#traces-years em {
	display:block;
	font-style:normal;
	font-weight:normal;
	font-size:15px;
	margin:0;
	padding:0;
}

#traces-years.single, #traces-years.triple {
	padding:15px 0 0 0;
}

#traces-years.double {
	padding:25px 0 0 0;
}

#traces-years.double, #traces-years.triple {
	display:inline-block;
	vertical-align:top;
}

#traces-years.double span:first-child:after, #traces-years.triple span:last-child:before {
	display:inline-block;
	overflow:hidden;
	margin:0 0 0 10px;
	padding: 0;
	width:12px;
	height:6px;
	background:url(/img/icon/icon-name.png) left top no-repeat;
	content: " ";
	text-indent: 100%;
	vertical-align:middle;
	white-space:nowrap;
}

#traces-years.triple span:last-child:before {
	margin:0 0 0 -2px;
}

.traces-left-stats {
	background:url(/img/traces/bg-traces-left-stats.png) 0 8px no-repeat;
	border-bottom:1px dotted #798185;
	color:#4C565D;
	display:block;
	height:37px;
	margin:20px 0 0 0;
	padding:8px 0;
	position:relative;
	text-align:center;
	width:221px;
}

.traces-left-stats:last-child {
	border:none;
}

.traces-left-stats p {
	color:#4C565D;
	display:block;
	font:700 15px/1.1 'Lato', Verdana, Arial, sans-serif;
	margin:0;
	padding:0;
	position:relative;
	top:-20px;
	text-transform:uppercase;
}

.traces-left-stats small {
	color:#4C565D;
	display:none;
	font:400 11px/1.1 'Lato', Verdana, Arial, sans-serif;
	margin:0;
	padding:0;
	text-transform:none;
}

.traces-left-stats .val {
	color:#4C565D;
	display:block;
	font-size:13px;
	margin:0;
	padding:0 0 2px 0;
}

.traces-left-stats .min, .traces-left-stats .max {
	color:#4C565D;
	font:400 11px/1.1 'Oswald', Verdana, Arial, sans-serif;
	left:0;
	margin:0;
	padding:6px 0 0 0;
	position:absolute;
	height:35px;
	text-align:center;
	top:5px;
	width:48px;
}

.traces-left-stats .max {
	left:auto;
	right:0;
}

.traces-left-stats .line {
	background:#7691A5;
	margin-left: 45px;
	height: 4px;
}

.traces-right {
	background:url(/img/traces/bg-traces-right.png) left top no-repeat;
	float:right;
	width:239px;
}

.winner-status {
	color:#383C40;
	display:inline-block;
	font:400 15px/1.1 'Oswald', Verdana, Arial, sans-serif;
	margin:0;
	padding:0;
	text-align:center;
	vertical-align:top;
	text-transform:uppercase;
	width:100%;
}

.winner-status:before, .winner-status:after {
	display:inline-block;
	overflow:hidden;
	margin:0 5px;
	padding: 0;
	width:12px;
	height:6px;
	background:url(/img/icon/icon-name.png) left top no-repeat;
	content: " ";
	text-indent: 100%;
	vertical-align:middle;
	white-space:nowrap;
}

.disabled .winner-status:before, .disabled .winner-status:after {
	display:none;
}

.traces-right .name {
	color:#383C40;
	display:block;
	font:700 23px/1.1 'Oswald', Verdana, Arial, sans-serif;
	margin:0;
	padding:0 15px;
	white-space:nowrap;
}

.traces-right .name a {
	background:url(/img/traces/traces_vainqueur_more_off.png) 100% 0 no-repeat;
	color:#383C40;
	display:block;
	font:700 18px/47px 'Oswald', Verdana, Arial, sans-serif;
	margin:0;
	overflow:hidden;
	padding:0 45px 0 0;
	width:165px;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.traces-right .podium .name a {
	background-position:100% -5px;
	font-size:14px;
	line-height:37px;
	padding:0 35px 0 0;
	margin:0;
	width:auto;
}

.traces-right .name a:hover {
	background-image:url(/img/traces/traces_vainqueur_more_on.png);
}

.winner .stats {
	background:url(/img/traces/traces_vainqueur_table_bg.png) left top no-repeat;
	height:68px;
	font:400 12px/1.1 'Lato', Verdana, Arial, sans-serif;
	margin:0 15px 15px 15px;
	padding:0;
	position:relative;
	text-align:center;
}

.traces-right .winner .flag {
	display:block;
	position: absolute;
	top:-6px;
	left:90px;
}

.timeline-zoom li {
	background:#1B809E;
	display:block;
	float:left;
	height:40px;
	margin:0 0 0 4px;
	padding:0;
	width:68px;
}

.timeline-zoom input {
	display:none;
}

.timeline-zoom span {
	color:#fff;
	cursor:pointer;
	display:block;
	font:600 22px/40px 'Lato', Verdana, Arial, sans-serif;
	height:40px;
	text-align:center;
}


.timeline-zoom input:checked + span {
}

.timeline-zoom li.active {
	background-color: #145D73;
}
.timeline-zoom li.etape span {
	color:#FFD800;
}

.timeline-zoom input:checked + span {
	// color:#FFD800;
}

.content .bottom {
	background:#2099BD;
	border-top:1px solid #fff;
	position:relative;
	z-index:1;
	-webkit-box-shadow: 0 -6px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 -6px 6px rgba(0,0,0,0.2);
	box-shadow: 0 -6px 6px rgba(0,0,0,0.2);
}

.timeline-left {
	border-right:1px solid #fff;
	display:block;
	float:left;
	height:75px;
	margin:0;
	padding:5px 15px 0 15px;
	width:800px;
}

.timeline-right {
	display:block;
	float:right;
	height:65px;
	margin:0;
	padding:15px 14px 0 14px;
	width:140px;
}

.selectors label {
	clear: both;
	color: #fff;
	display: block;
	font: 400 14px/1.3 'Lato', Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0 0 10px 0;
}

.traces .map-toolbox {
	position:absolute;
	left:36px;
	top:10px;
	z-index: 999;
}

.traces .map-toolbox #city_search {
	position: static;
}

.back, .city {
	background:url(/img/traces/bg-back.png) 5px 50% no-repeat #DCDCDC;
	border:1px solid #959596;
	color:#4C565E;
	font:700 14px/34px 'Lato', Verdana, Arial, sans-serif;
	height:34px;
	display:inline-block;
	margin:0 1px 0 0;
	padding:0 15px 0 28px;
	border-radius:4px;
	vertical-align:top;
}

.city {
	overflow: hidden;
}

.city #city_search {
	display: none;
}

.traces .back {
	position:relative;
	left:auto;
	top:0;
}

.close-city {
	display:inline-block;
	overflow:hidden;
	margin:0 0 0 10px;
	padding:0;
	width:18px;
	height:18px;
	border:none;
	background:url(/img/traces/bt-city-close.png) left top no-repeat;
	text-indent: 100%;
	white-space:nowrap;
	vertical-align:middle;
}

.city {
	background:url(/img/traces/bg-city.png) 5px 50% no-repeat #fff;
	padding:0 8px 0 42px;
}

#start-pause {
	background:url(/img/traces/bt-play-pause.png) left top no-repeat;
	position: absolute;
	left: 5px;
	top: 26px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-indent: 100%;
	white-space: nowrap;
	height:51px;
	width: 51px;
	z-index:20;
	cursor:pointer;
}

#start-pause:hover {
	background-position:-51px 0;
}

#start-pause.active {
	background-position:-102px 0;
}

#start-pause.active:hover {
	background-position:-153px 0;
}
