body {
	background:#F2F2ED;
	margin:0;
	padding: 0;
	color:#383C40;
}

button:focus, input:focus, textarea:focus { outline:none; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

a {
	text-decoration:none;
}

.left {
	float:left;
}

.right {
	float:right;
}

.unstyled { list-style-type:none; margin:0; padding:0; }
.clearfix { zoom:1; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }

#main {
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	display:block;
	margin:0 auto;
	padding:0;
	width:1000px;
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.3), -12px 0 8px -4px rgba(0, 0, 0, 0.3);
}

.templates {
	display: none;
}

.content .left {
	float: left;
	width: 250px;
}

.content .map-container {
	float: left;
	display:block;
	position:relative;
	width: 512px;
	height:422px;
}

// .content .map-container #gmap-traces {
.content .map-container-full{
    display:block;
    width: 100%;
    height:489px;
}

#gmap-traces, #gmap-search, #gmap-streetview{
    width: 100%;
    height: 100%;
}

.content .right {
	float: left;
	width: 250px;
}
.content .bottom {
	clear: both;
	width: 100%;
}

@import "_header";
@import "_home";
@import "_winners";
@import "_traces";
@import "_selectbox";
@import "_streetview";
@import "_fights";
@import "_footer";
@import "_tooltips";
@import "_colorbox";
@import "_jscrollpane";
