body {
	background:#F2F2ED;
	margin:0;
	padding: 0;
	color:#383C40;
	overflow-x:hidden;
}

button:focus, input:focus, textarea:focus { outline:none; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
a { outline: 0; text-decoration:none;}
img { border: 0; }
.left { float:left; }
.right { float:right; }
.v-top { vertical-align:top; }
.aligncenter { text-align:center; }
.no-border { border:none; }
.unstyled { list-style-type:none; margin:0; padding:0; }
.clearfix { zoom:1; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }

#main {
	background:url(/img/colorbox/loading-bg.gif) center center no-repeat;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	display:block;
	margin:0 auto;
	padding:0;
	width:1000px;
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.3), -12px 0 8px -4px rgba(0, 0, 0, 0.3);
}

.templates {
	display: none;
}

.content{
    position: relative;
}

.content .left {
	float: left;
	width: 250px;
}

.content .map-container {
	float: left;
	display:block;
	position:relative;
	width: 512px;
	height:422px;
}

.content .map-container-full{
    display:block;
    width: 100%;
    height:489px;
}

.content #city_search {
	background:url(/img/home/bg-top-search.png) left top no-repeat;
    position: absolute;
    z-index: 99;
    top: -50px;
    left: 400px;
    display:block;
    height:29px;
    margin:0;
    padding:0;
    width:233px;
}

.traces .content #city_search {
	background:url(/img/traces/bt-city-search.png) 100% 70% no-repeat #fff;
	width:202px;
}

#gmap-traces, #gmap-search, #gmap-streetview{
    width: 100%;
    height: 100%;
}

.content .right {
	float: left;
	width: 250px;
}

.content .bottom {
	clear: both;
	width: 100%;
}

@-webkit-keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.home, .traces, .winners, .fight-home, .streeview, .search {
     -webkit-animation: fadeIn .5s ease-in-out;
     -moz-animation:   fadeIn .5s ease-in-out;
     -ms-animation:     fadeIn .5s ease-in-out;
     -o-animation:      fadeIn .5s ease-in-out;
}

@import "_header";
@import "_home";
@import "_winners";
@import "_traces";
@import "_selectbox";
@import "_streetview";
@import "_fights";
@import "_footer";
@import "_tooltips";
@import "_colorbox";
@import "_jscrollpane";


