a {
	text-decoration:none;
}

.left {
	float:left;
}

.right {
	float:right;
}

.templates {
	display: none;
}

header > div {
	display: inline;
}

.content .left {
	float: left;
	width: 250px;
}
.content .map-container {
	float: left;
	width: 450px;
	height: 350px;
	border: #666;
	background-color: #eee;
}
.content .right {
	float: left;
	width: 250px;
}
.content .bottom {
	clear: both;
	width: 100%;
}

.traces .timeline ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.traces .timeline li {
	display: inline-block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 6px;
	height: 6px;
	border: 1px solid #ccc;
	text-indent: 100%;
	font-size: 6px;
}
.traces .timeline li.trace {
	background-color: #222;
}

.traces .timeline-zoom {
	overflow-x: scroll;
	overflow-y: hidden;
	margin: 0;
	padding: 0;
	width: 900px;
	height: 30px;
}
.traces .timeline-zoom ul {
	margin: 0;
	padding: 0;
	width:5000px;
	height: 20px;
	list-style: none;
}
.traces .timeline-zoom li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.traces .timeline .slider {
	position: absolute;
	width: 700px;
	height: 18px;
}
.traces .ui-slider-handle {
	position: absolute;
	margin-top: 2px;
	width: 100px;
	height: 10px;
	border: 3px solid lightblue;
}

#winner {
	background:url(/img/vainqueurs/bg-winner-block.png) left top no-repeat #F2F2ED;
	height:215px;
	display:none;
}

#winner .tours {
	float: left;
	list-style: none;
}

#winner .tours li {
	display: inline-block;
	margin:0 -3px 0 0;
	width: 28px;
	font:700 13px 'Lato', Verdana, Arial, sans-serif;
	height: 126px;
	border-right: 1px solid #f2f2ed;
	background:#D9D9D4;
	text-align:center;
	vertical-align:top;
	position:relative;
}

#winner .tours li.pos-Non-partant {
	background:url(/img/vainqueurs/bg-non-partant.png) 50% 50% no-repeat #f2f2ed;
}

#winner .tours li.pos-Non-partant a {
	visibility:hidden;
}

#winner .tours .pos-Non-partant .year {
	border-color:#f2f2ed;
	color:#D9D9D4;
}

#winner .tours a {
	border-bottom:1px solid #383C40;
	color:#383C40;
	font:700 13px 'Lato', Verdana, Arial, sans-serif;
	margin: 0;
	padding:0;
	position:absolute;
	left:3px;
	width:22px;
}

#winner .tours .pos-1 a {
	border:none;
	display:block;
	background:url(/img/vainqueurs/icon-victoire.png) left top no-repeat;
	display:block;
	height:22px;
	margin:-11px 0 0 3px;
	overflow:hidden;
	padding: 0;
	text-indent: 100%;
	left:0;
	width:24px;
	white-space:nowrap;
}

#winner .tours .pos-Abandon a {
	color:#DC0A27;
	border:none;
}

#winner .tours > li.empty {
	visibility:hidden;
}

.winners #winner .tours .wins {
	display:block;
	margin:0;
	padding: 0;
	position: absolute;
	bottom:28px;
	width:28px;
}

.winners #winner .tours .wins div {
	display:block;
	background:url(/img/vainqueurs/icon-etape.png) left top no-repeat;
	display:block;
	height:10px;
	margin:5px auto 0 auto;
	overflow:hidden;
	padding: 0;
	text-indent: 100%;
	width:17px;
	white-space:nowrap;
}

.winners #winner .tours .wins div:nth-child(6), .winners #winner .tours .wins div:nth-child(7), .winners #winner .tours .wins div:nth-child(8), .winners #winner .tours .wins div:nth-child(9) {
	display:none;
}

.winners #winner .tours .bulle {
	display: none;
}

.winners #winner .tours .year {
	border-top: 1px solid #f2f2ed;
	color:#383C40;
	display:block;
	font:700 10px/22px 'Lato', Verdana, Arial, sans-serif;
	height:22px;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align:center;
	bottom:0;
	width:28px;
}

.winners .legend {
	list-style:none;
	float: right;
	border:3px solid #D9D9D4;
	margin:0;
	padding:0;
	width:128px;
}

.bio {
	display:block;
	font:400 12px/33px 'Lato', Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.duel {
	display:block;
	background:url(/img/vainqueurs/bt-lancer-un-duel.png) left top no-repeat;
	display:block;
	height:55px;
	margin:0;
	overflow:hidden;
	padding: 0;
	position: absolute;
	text-indent: 100%;
	width:137px;
	white-space:nowrap;
}

.legend li {
	background-position:5px 50%;
	background-repeat: no-repeat;
	border-bottom:3px solid #D9D9D4;
	display:block;
	font:400 12px/33px 'Lato', Verdana, Arial, sans-serif;
	height:33px;
	margin:0;
	padding:0 0 0 33px;
}

.legend .winner {
	background-image:url(/img/vainqueurs/icon-victoire.png);

}

.legend .position {
	background-image:url(/img/vainqueurs/icon-position.png);
}

.legend .leg_win {
	background-image:url(/img/vainqueurs/icon-etape.png);
}

.legend .abandon {
	background-image:url(/img/vainqueurs/icon-abandon.png);
	background-position:10px 50%;
	border:none;
}

.winners .winners_list {
	background: #D9D9D4;
	overflow: auto;
	width: 100%;
	height: 300px;
}
.winners .winners_list .winner {
	display: inline-block;
	overflow: hidden;
	width: 150px;
	height: 200px;
	margin:0 -3px 0 0;
	border:1px dashed #fff;
	border-top:none;
	border-right:none;
	vertical-align:top;
	text-align:center;
}

.winners .winners_list .winner-active {
	background:url(/img/vainqueurs/bg-winner-selected.png) center top no-repeat;
}

.winners .winners_list .winner .name {
	color:#383C40;
	font:700 15px 'Oswald', Verdana, Arial, sans-serif;
	text-transform:uppercase;
}

.winners .winners_list .winner .name span {
	display: none;
}


.wins {
	list-style-type:none;
	margin:0;
	padding: 0;
	text-align:center;
}

.wins li {
	color:#383C40;
	display:inline-block;
	font:700 11px 'Lato', Verdana, Arial, sans-serif;
	margin: 0 4px 0 0;
	padding: 0;
}

.wins a {
	color:#383C40;
}

#close {
	border:none;
	display:block;
	background:url(/img/icon/bt-close.png) left top no-repeat;
	display:block;
	height:22px;
	margin:0;
	overflow:hidden;
	padding: 0;
	position: absolute;
	text-indent: 100%;
	width:22px;
	white-space:nowrap;
}

.winners .ui-slider {
	position: relative;
	text-align: left;
}

.winners .ui-slider-handle {
	position: absolute;
	border: 3px solid lightblue;
	width: 10px;
	height: 10px;
	margin-top: 2px;
}

.winners .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.winners .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.winners .ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}

.winners .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}

.winners .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

.winners .age .slider {
	width: 200px;
	border: 1px solid red;
	height: 15px;
}
